/* Reset default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #484848;
  line-height: 1.6;
}

/* Navigation styles */
nav {
  background-color: #FF5A5F;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: black;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 10px auto;
  background-color: white;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased box-shadow thickness */
  border-radius: 10px;
}

/* Heading styles */
h1 {
  font-family: 'Helvetica Neue', sans-serif;
  color: #FF5A5F;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-family: 'Helvetica Neue', sans-serif;
  color: #00A699;
  font-weight: bold;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Paragraph and list styles */
p, ul {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
}

ul {
  list-style-type: disc;
  padding-left: 40px;
}

li {
  margin-bottom: 10px;
}

/* Link styles */
a {
  color: #00A699;
  transition: color 0.3s ease;
}

a:hover {
  color: black;
}

/* Image styles */
img {
  width: 30%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

/* Dashboard styles */
#vizContainer {
  width: 100%;
  height: 1200px;
  margin: 20px auto; /* Centering horizontally */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.02); /* Increased box-shadow thickness */
}
